---
const { id } = Astro.props
---

<button
  type='button'
  class='flex items-center justify-between w-full p-5 border border-gray-200 rounded-xl dark:border-gray-500 hover:bg-gray-100 dark:hover:bg-opacity-5 aria-expanded:border-b-0 aria-expanded:rounded-b-none'
  data-accordion-target={`#accordion-open-body-${id}`}
  aria-nded='false'
  aria-controls={`accordion-open-body-${id}`}
>
  <slot />
</button>
