<a
  {...Astro.props}
  class='inline-flex items-center gap-0.5 rounded-lg border
          border-cod-gray-300 bg-lochmara-800 px-3
          py-2 text-sm font-medium text-white
          hover:scale-105 hover:cursor-pointer hover:bg-lochmara-900'
>
  <slot />
</a>
