---
const { id } = Astro.props
---

<button
  type='button'
  class='group flex w-full items-center justify-between rounded-xl border border-gray-500 bg-transparent p-5 delay-100 hover:bg-gray-100 hover:bg-opacity-10 hover:text-white aria-expanded:rounded-b-none aria-expanded:border-b-0'
  data-accordion-target=`#accordion-open-body-${id}`
  aria-expanded='false'
  aria-controls=`accordion-open-body-${id}`
  aria-label='Open accordion experience item'
>
  <slot />
</button>
