---
const { id } = Astro.props
---

<button
  type='button'
  class='flex w-full items-center justify-between rounded-xl border border-cod-gray-900 p-5 hover:bg-cod-gray-800 hover:text-white aria-expanded:rounded-b-none aria-expanded:border-b-0 dark:border-gray-500 dark:hover:bg-gray-100 dark:hover:bg-opacity-5'
  data-accordion-target=`#accordion-open-body-${id}`
  aria-expanded='false'
  aria-controls=`accordion-open-body-${id}`
  aria-label='Open accordion experience item'
>
  <slot />
</button>
