---
import SocialContainer from '../components/SocialContainer.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/Github.astro'
import MailIcon from '../components/icons/Mail.astro'
import DownloadIcon from '../components/icons/Download.astro'
import PeruIcon from '../components/icons/Peru.astro'
---

<section
  id='about'
  class='flex w-full flex-col items-center justify-between gap-4 px-8 lg:flex-row lg:px-28'
>
  <img class='size-52 rounded-full' src='/alonso.webp' alt='alonso photo' />

  <div class='flex flex-col gap-4'>
    <div class='flex items-center justify-center gap-4 lg:justify-start'>
      <h1
        class='text-3xl font-bold text-gray-900 dark:text-white md:text-4xl lg:text-5xl'
      >
        Hi, i'm Alonso Garay
      </h1>
      <!-- TODO: Add Peru flag and move Download -->
      <PeruIcon class='h-16 w-16' />
    </div>
    <h2 class='max-w-[700px] text-pretty text-xl text-black dark:text-white'>
      Full-Stack Developer, for over 2 years, specialized in creating,
      maintaining and improving modern web applications using
      JavaScript/TypeScript. Skilled in React, Spring Boot, AWS, Node.js,
      DynamoDB, MySQL, and Git. Dedicated to delivering high-quality and
      innovative solutions.
    </h2>

    <nav class='flex flex-wrap justify-center gap-4 lg:justify-start'>
      <SocialContainer href='/cv.pdf' download='Alonso Garay - CV'>
        <DownloadIcon class='size-4 md:size-5' />
        Download CV
      </SocialContainer>
      <SocialContainer
        target='_blank'
        href='https://www.linkedin.com/in/alonsogaray/'
      >
        <LinkedInIcon class='size-4 md:size-6' />
        LinkedIn
      </SocialContainer>
      <SocialContainer target='_blank' href='https://github.com/AlonsoGaray'>
        <GitHubIcon class='size-4 md:size-6' />
        GitHub
      </SocialContainer>
      <SocialContainer target='_blank' href='mailto:alonsogarayp@gmail.com'>
        <MailIcon class='size-4 md:size-6' />
        alonsogarayp@gmail.com
      </SocialContainer>
    </nav>
  </div>
</section>
