---
const sections = ['About', 'Experience', 'Projects']
---

<header
  class='sticky top-0 z-50 flex items-center justify-between border-b bg-cod-gray-950 p-4 text-white'
>
  <h2><a href='#about'> Alonso Garay</a></h2>
  <nav class='ml-1 flex items-center gap-4'>
    {
      sections.map((sec) => (
        <a
          href={`#${sec.toLowerCase()}`}
          class='hover:scale-110  hover:text-gray-400'
        >
          {sec}
        </a>
      ))
    }
  </nav>
</header>
